<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Taliaa Tauatolo | Software Engineer</title>
  </head>
  <body>
    <header class="header">
      <div class="nav__links">
        <a rel="nofollow" href="#about">About</a>
        <a href="#experience">Experience</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
        <a
          class="resume-link btn"
          href="/Taliaa-Tauatolo-Resume.pdf"
          target="_blank"
          >Resume</a
        >
      </div>
    </header>

    <!-- INTRO -->
    <div class="main-container">
      <section class="hero">
        <span class="hero__hi">Hi, my name is</span>
        <h1 class="hero__name">Taliaa Tauatolo.</h1>
        <!-- <h1 class="hero__sub">I build things for the web.</h1> -->
        <p class="hero__subtext">brief summary</p>
        <a class="hero__btn btn" href="mailto:taliaadev@gmail.com"
          >Get in touch</a
        >
      </section>
      <!-- ABOUT -->
      <section id="about" class="about">
        <h3 class="section-title">About Me</h3>
        <div class="about__content">
          <div class="about__content-text">
            Who I am. Where I'm from. What I enjoy. What I like about
            developing. What I'm good at. My backstory, schooling, what I've
            been doing. Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Enim consectetur ipsam accusantium fugit labore laborum vel
            voluptate suscipit facere incidunt dolores eum, accusamus, est sit
            tempore, eos quo a! Ratione. recently.
            <div>
              <!-- SKILLS -->
              Skills with technology, languages, etc.
            </div>
          </div>
          <img class="about__pic" src="img/me.jpg" alt="" />
        </div>
      </section>
      <!-- EXPERIENCE -->
      <section id="experience" class="experience">
        <h3 class="section-title">Where I've Worked</h3>

        <div class="jobs__container">
          <div class="job">
          <h4>
            <span class="experience__position">
              Application Support Engineer
            </span>
            <span class="experience__company">
              <a href="https://www.rolls-royce.com" target="_blank">
                @ Rolls-Royce plc
              </a>
            </span>
          </h4>
          <h5 class="experience__details">
            <span>
              September 2015 - November 2018
            </span>
          </h5>
          <div class="experience__description">
          <ul>
            <li>
                Primary App Support Engineer for version 11 software <a href="https://visiumkms.com" target="_blank"> VisiumKMS</a> (Operational
                Risk Management solution).
            </li>
            <li>
                Led and assisted over 100 installs/upgrades for clients, on hosted and
                deployed servers, utilizing Microsoft IIS, SQL Server & Oracle 11g/12c.
            </li>
            <li>
                Resolved over 1000 incidents reported by users of the software, by
                troubleshooting, reporting bugs to development, and providing workarounds.
            </li>
            <li  class="trigger1">
              Client users of the web app included oil & gas companies such as Shell, BP,
              Chevron, Phillips 66, and more.
            </li>
          </ul>
        </div>
        </div>
      </section>
      <!-- WORK -->
      <section id="projects" class="featured__projects">
        <h3 class="section-title featured-title">Featured Projects</h3>
          <div class="featured__project featured__project1">
            <div class="featured__content-container">
              <div class="featured__label">
                Featured Project
              </div>
              <div class="featured__project-name">
                NewSkill
              </div>
              <div class="featured__project-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                corrupti iusto recusandae numquam asperiores accusamus quia
                provident quos facere esse, hic cupiditate unde nisi! Quo
                cupiditate harum aspernatur quam? In.
              </div>
              <div class="featured__project-tools">
                  Node.js, Express, MongoDB, Stripe API
              </div>
              <div class="featured__links trigger2">
                <a class="projects__icons" href="https://github.com/Umreen24/NewSkill" target="_blank">
                  <i class="fa fa-github"></i>
                </a>
                <a class="projects__icons" href="https://newskillsite.herokuapp.com" target="_blank">
                  <i class="fa fa-link"></i>
                </a>
              </div>
            </div>
          
          <a
            href="https://newskillsite.herokuapp.com"
            target="_blank"
            class="featured__img-container featured__img-container1"
          >
            <div class="featured__featuredimg">
              <div style="width: 100%; padding-bottom: 62.4688%;"></div>
              <img
                class="featured__img"
                src="img/projects/newskill.png"/>
            </div>
          </a>
        </div>
        <div class="featured__project">
            <div class="featured__content-container featured__content-container-left">
              <div class="featured__label">
                Featured Project
              </div>
              <div class="featured__project-name">
                NewSkill
              </div>
              <div class="featured__project-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                corrupti iusto recusandae numquam asperiores accusamus quia
                provident quos facere esse, hic cupiditate unde nisi! Quo
                cupiditate harum aspernatur quam? In.
              </div>
              <div class="featured__project-tools featured__project-tools2">
                  Node.js, Express, MongoDB, Stripe API
              </div>
              <div class="featured__links featured__links2">
                <a class="projects__icons" href="https://github.com/Umreen24/NewSkill" target="_blank">
                  <i class="fa fa-github"></i>
                </a>
                <a class="projects__icons" href="https://newskillsite.herokuapp.com" target="_blank">
                  <i class="fa fa-link"></i>
                </a>
              </div>
            </div>
          
          <a
            href="https://newskillsite.herokuapp.com"
            target="_blank"
            class="featured__img-container featured__img-container2 featured__img-container-right"
          >
            <div class="featured__featuredimg">
              <div style="width: 100%; padding-bottom: 62.4688%;"></div>
              <img
                class="featured__img"
                src="img/projects/hotel-css-img.png"/>
            </div>
          </a>
        </div>
      </section>
      <section class="projects">
        <h4 class="projects__title">More Projects</h4>
        <div class="projects__container">
          <% portfolioData.forEach(function(project){ %>
          <div class="projects__card">
              <a
              href="<%= project.site %>"
              target="_blank"
            >
            <div class="projects__img">
              <img
                class="projects__img"
                src="img/projects/<%= project.image %>"
                alt=""
              />
            </div>
            </a>
            <div class="projects__content">
              <header class="projects__card-header">
                <a
                  class="projects__icons"
                  href="<%= project.github %>"
                  target="_blank"
                >
                  <i class="fa fa-github"></i>
                </a>
                <a
                  class="projects__icons"
                  href="<%= project.site %>"
                  target="_blank"
                >
                  <i class="fa fa-link"></i>
                </a>
              </header>
              <h3 class="projects__name"><%= project.projectName %></h3>
              <p class="projects__description">
                <%= project.description %>
              </p>
              <footer class="projects__tools">
                <%= project.used %>
              </footer>
            </div>
          </div>
          <%});%>
        </div>
        <div class="button">
          <a class="btn show-more-btn" href="#">More Projects</a>
        </div>
      </section>

      <!-- CONTACT -->
      <section id="#contact" class="contact">
        <a class="btn" href="mailto:taliaadev@gmail.com">Get in touch</a>
      </section>
    </div>
    <footer class="footer">
      <a href="https://github.com/taliaa10" target="_blank"
        >Built by Taliaa Tauatolo</a
      >
    </footer>
    <script>
      // window.onscroll = function() {
      //   scrollFunction();
      // };

      // function scrollFunction() {
      //   if (
      //     document.body.scrollTop > 80 ||
      //     document.documentElement.scrollTop > 80
      //   ) {
      //     document.querySelector('.header').style.boxShadow =
      //       '0 1.5rem 4rem rgba(0, 0, 0, 0.2)';
      //   } else if (
      //     document.body.scrollTop < 20 ||
      //     document.documentElement.scrollTop < 20
      //   ) {
      //     document.querySelector('.header').style.boxShadow = none;
      //   }
      // }
    </script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
<script src="js/app.js"></script>


  </body>
</html>
