<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- <link rel="stylesheet" href="stars.css"> -->


    <!-- META TAGS -->

    <!-- Primary Meta Tags -->
<title>Taliaa Tauatolo | Software Engineer</title>
<meta name="title" content="Taliaa Tauatolo | Software Engineer">
<meta name="description" content="Taliaa Tauatolo is a software engineer based in Houston, Texas specializing in building and designing exceptional, high-quality websites and applications.">
<meta name="image" content="https://taliaa.azurewebsites.net/img/siteimg.png">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://taliaa.azurewebsites.net/">
<meta property="og:title" content="Taliaa Tauatolo | Software Engineer">
<meta property="og:description" content="Taliaa Tauatolo is a software engineer based in Houston, Texas specializing in building and designing exceptional, high-quality websites and applications.">
<meta property="og:image" content="https://taliaa.azurewebsites.net/img/siteimg.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://taliaa.azurewebsites.net/">
<meta property="twitter:title" content="Taliaa Tauatolo | Software Engineer">
<meta property="twitter:description" content="Taliaa Tauatolo is a software engineer based in Houston, Texas specializing in building and designing exceptional, high-quality websites and applications.">
<meta property="twitter:image" content="https://taliaa.azurewebsites.net/img/siteimg.png">


    <title>Taliaa Tauatolo | Software Engineer</title>
  </head>
  <body>
    <div id="root">
    <header class="nav__navContainer">
      <div class="nav__navbar">
        <div class="nav__Logo">
          &nbsp;
        </div>
        <div class="">
          <div class="nav__hamburger">
            <div class="nav_HamburgerBox">
              <div class="nav__hamburgerInner">
                
                  <div class="navigation">
                      <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
              
                      <label for="navi-toggle" class="navigation__button">
                          <span class="navigation__icon">&nbsp;</span>
              
                      </label>
              
                      <div class="navigation__background">

                          <nav role="navigation">
                              <div id="menuToggle">
                                <input type="checkbox" />
                                <span id="line1"></span>
                                <span id="line2"></span>
                                <span id="line3"></span>
                                <ul id="menu">
                                  <a href="#about"><li>About</li></a>
                                  <a href="#experience"><li>Experience</li></a>
                                  <a href="#projects"><li>Projects</li></a>
                                  <a href="#contact"><li>Contact</li></a>
                                </ul>
                              </div>
                            </nav>

                      </div>
              


                  </div>

              </div>
            </div>
          </div>
        </div>
      <div class="nav__links">
        <a rel="noopener noreferrer" href="#about">About</a>
        <a rel="noopener noreferrer" href="#experience">Experience</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
        <a
          class="resume-link btn animLine"
          href="Taliaa-Tauatolo-Resume.pdf"
          target="_blank"
          >Resume</a
        >
      </div>
    </div>
    </header>
    <div class="social__social-container">
      <div>
        <ul class="social__social-items-list">
          <li class="social__list-item">
            <a href="https://github.com/taliaa10" target="_blank" rel="noopener noreferrer" aria-label="Github" class="social__social-link"><i class="fa fa-github"></i></a>
          </li>
          <li class="social__list-item">
            <a href="https://linkedin.com/in/taliaa" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn" class="social__social-link"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="email__email-container">
      <div class="">
        <div class="email__emailLinkWrapper">
            <a href="#home"><i class="fa fa-chevron-circle-up" id="up"></i></a>

          <a href="mailto:taliaadev@gmail.com" class="email__emailLink">taliaadev@gmail.com</a>
        </div>
      </div>
    </div>
    <div id='stars'></div>

    <!-- INTRO -->
    
    <div class="main-container">
      <section class="hero" id="home">
        <div class="topbacklight">

        </div>
        <div class="hero-bg">
        <span class="hero__hi">Hi, my name is</span>
        <h1 class="hero__name">Taliaa Tauatolo.</h1>
        <h1 class="hero__sub">I build things for the web.</h1>
        <div class="hero__subtext"><p>I'm an experienced IT professional with a background in Application Support and Full Stack Web Development building, designing and supporting exceptional, high-quality websites and applications.
          </p></div>
        <a class="hero__btn btn animLine" href="mailto:taliaadev@gmail.com"
          >Get in touch</a
        >
        </div>
      </section>
      <!-- ABOUT -->
      <section id="about" class="about">
        <h3 class="section-title">About Me</h3>
        <div class="about__content">
          <div class="about__content-text">
            <p>
            Hi! I'm Taliaa, a software engineer who enjoys building beautiful web apps that provide intuitive, pixel-perfect user interfaces with efficient and modern backends.
            <br><br>
            Here's a few technologies I've been working with recently:
          </p>
            <div>
              <!-- SKILLS -->
              <ul class="about__skillContainer">
                <li class="about__skill">
                  Javascript (ES5+)
                </li>
                <li class="about__skill">
                  Python
                </li>
                <li class="about__skill">
                    C#
                  </li>
                <li class="about__skill">
                  Node.js
                </li>
                <li class="about__skill">
                  Express
                </li>
                <li class="about__skill">
                  React
                </li>
                <li class="about__skill">
                  SQL & NoSQL
                </li>
                <li class="about__skill">
                  HTML & (S)CSS
                </li>
              </ul>
            </div>
          </div>
          <div class="backlight">
            <a href="https://github.com/taliaa10" target="_blank" rel="noopener noreferrer" aria-label="Github" class="social__social-link"><img class="about__pic" src="img/me.jpg" alt="" /></a>
          </div>
        </div>
      </section>
      <!-- EXPERIENCE -->
      <section id="experience" class="experience">
        <h3 class="section-title">Where I've Worked</h3>

        <div class="jobs__container">

          <div class="job">
            <h4>
              <span class="experience__position">
                Software Engineer
              </span>
              <span class="experience__company">
                <a href="https://hellonesh.io/" target="_blank" class="animLine">
                  @ Nesh
                </a>
              </span>
            </h4>
            <h5 class="experience__details">
              <span>
                November 2019 - June 2020
              </span>
            </h5>
            <div class="experience__description">
            <ul class="experience__description-list">
              <li>
                  Developed backend with Node.js, Python to fulfill speech and text queries from Rasa API (Python) and PostgreSQL database to display queries about the oil and gas data.
              </li>
              <li>
                  Developed self-service ETL feature with Python, JavaScript/TypeScript and AWS for clients to upload their own data into the front-end of the chatbot into the database on the back-end.
              </li>
              <li>
                  Designed and implemented UI/UX for chatbot dialogue and display for charts and maps.
              </li>
              <li>
                Assisted with fixing bugs in the application and adding new features requested by clients in Jira.
            </li>
              <li  class="trigger1">
                Client users of the web app included oil & gas companies such as Equinor, Hess, Exxon and more.
              </li>
            </ul>
          </div>
          </div>
<br>
          <div class="job">
          <h4>
            <span class="experience__position">
              Application Support Engineer
            </span>
            <span class="experience__company">
              <a href="https://www.rolls-royce.com" target="_blank" class="animLine">
                @ Rolls-Royce plc
              </a>
            </span>
          </h4>
          <h5 class="experience__details">
            <span>
              September 2015 - November 2018
            </span>
          </h5>
          <div class="experience__description">
          <ul class="experience__description-list">
            <li>
                Primary App Support Engineer for version 11 software <a href="https://visiumkms.com" target="_blank"> VisiumKMS</a> (Operational Risk, Change & Incident Management solution for oil & gas companies) built with ASP.Net.
            </li>
            <li>
                Led and assisted over 100 updates/upgrades/releases for clients on hosted and deployed production servers, utilizing Microsoft IIS, Microsoft SQL Server and Oracle 11g/12c.
            </li>
            <li>
                Resolved over 1000 incidents in ServiceNow reported by end users by troubleshooting the database and app server with diagnostics tools, reporting bugs to development in Azure DevOps, and providing workarounds and hotfixes all within SLA and under ITIL best practices. 
            </li>
            <li  class="trigger1">
              Client users of the web app included oil & gas companies such as Shell, BP,
              Chevron, Phillips 66, and more.
            </li>
          </ul>
        </div>
        </div>

      </section>
      <div id='stars2'></div>
      <!-- WORK -->
      <section id="projects" class="featured__projects">
        <h3 class="section-title featured-title">What I've Built</h3>
                <!-- FP0 -->
                <div class="featured__project">
                    
                  <a
                  href="https://hellonesh.io/"
                  target="_blank"
                  class="featured__img-container featured__img-container2 featured__img-container-right animLine"
                >
                  <div class="featured__featuredimg">
                    <div style="width: 100%; padding-bottom: 62.4688%;"></div>
                    <img
                      class="featured__img"
                      src="img/projects/nesh.png"/>
                  </div>
                </a>
                  <div class="featured__content-container featured__content-container-left">
                    <div class="featured__label">
                      Featured Project
                    </div>
                    <div class="featured__project-name">
                        Nesh - Oil & Gas Chatbot
                    </div>
                    <div class="featured__project-description">
                      Users will be able to quickly get important information and data insights by engaging with Nesh, through voice commands or text that will be used to query their data.
                    </div>
                    <div class="featured__project-tools featured__project-tools2">
                      React.js, Node.js, Express.js, SQL, ReCharts, <br> Google Dialogflow API, Google Maps API
                    </div>
                    <div class="featured__links featured__links2">
                      <a class="projects__icons" href="https://github.com/nickfuentes/nesh-chatbot" target="_blank">
                        <i class="fa fa-github"></i>
                      </a>
                      <a class="projects__icons" href="https://hellonesh.io" target="_blank">
                        <i class="fa fa-link"></i>
                      </a>
                    </div>
                  </div>
      
              </div>
        <!-- FP1 -->
          <div class="featured__project featured__project1">
              <a
              href="https://newskillsite.herokuapp.com"
              target="_blank"
              class="featured__img-container featured__img-container1 animLineNoHover"
            >
              <div class="featured__featuredimg">
                <div style="width: 100%; padding-bottom: 62.4688%;"></div>
                <img
                  class="featured__img"
                  src="img/projects/newskill.png"/>
              </div>
            </a>
            <div class="featured__content-container">
              <div class="featured__label">
                Featured Project
              </div>
              <div class="featured__project-name">
                NewSkill
              </div>
              <div class="featured__project-description">
                  A site where people can discover and register for nearby courses to learn a new skill, pick up a new hobby, or just meet new people.
              </div>
              <div class="featured__project-tools">
                  Node.js, Express, MongoDB, Stripe API, Heroku
              </div>
              <div class="featured__links trigger2">
                <a class="projects__icons" href="https://github.com/Umreen24/NewSkill" target="_blank">
                  <i class="fa fa-github"></i>
                </a>
                <a class="projects__icons" href="https://newskillsite.herokuapp.com" target="_blank">
                  <i class="fa fa-link"></i>
                </a>
              </div>
            </div>
        </div>
        <!-- FP2 -->
        <div class="featured__project">
                    
            <a
            href="https://radiant-inlet-47339.herokuapp.com"
            target="_blank"
            class="featured__img-container featured__img-container2 featured__img-container-right animLine"
          >
            <div class="featured__featuredimg">
              <div style="width: 100%; padding-bottom: 62.4688%;"></div>
              <img
                class="featured__img"
                src="img/projects/useless-calculator.png"/>
            </div>
          </a>
            <div class="featured__content-container featured__content-container-left">
              <div class="featured__label">
                Featured Project
              </div>
              <div class="featured__project-name">
                  The Useless Calculator
              </div>
              <div class="featured__project-description">
                Winner of the 2-day Challenge to create a Useless Application at Digital Crafts. <br><br>  
                
                A fun twist on the typical calculator app. You may not get the right answer, but you will surely get entertainment.
              </div>
              <div class="featured__project-tools featured__project-tools2">
                  Node.js, Express, PostgreSQL, AWS
              </div>
              <div class="featured__links featured__links2">
                <a class="projects__icons" href="https://github.com/Jacob-Bankston/Calculate-with-Personality" target="_blank">
                  <i class="fa fa-github"></i>
                </a>
                <a class="projects__icons" href="https://radiant-inlet-47339.herokuapp.com" target="_blank">
                  <i class="fa fa-link"></i>
                </a>
              </div>
            </div>

        </div>
      </section>


<div id='stars3'></div>
<!-- MORE PROJECTS -->

      <section class="projects">
        <h4 class="projects__title">More Projects</h4>
        <div class="projects__container">
          <% portfolioData.forEach(function(project){ %>
          <div class="projects__card">
              <a
              href="<%= project.site %>"
              target="_blank"
            >
            <div class="projects__img">
              <img
                class="projects__img"
                src="img/projects/<%= project.image %>"
                alt=""
              />
            </div>
            </a>
            <div class="projects__content">
              <header class="projects__card-header">
                <a
                  class="projects__icons"
                  href="<%= project.github %>"
                  target="_blank"
                >
                  <i class="fa fa-github"></i>
                </a>
                <a
                  class="projects__icons"
                  href="<%= project.site %>"
                  target="_blank"
                >
                  <i class="fa fa-link"></i>
                </a>
              </header>
              <h3 class="projects__name"><%= project.projectName %></h3>
              <p class="projects__description">
                <%= project.description %>
              </p>
              <footer class="projects__tools">
                <%= project.used %>
              </footer>
            </div>
          </div>
          <%});%>
        </div>
        <!-- <div class="button">
          <a class="btn show-more-btn" href="#">More Projects</a>
        </div> -->
      </section>

      <!-- CONTACT -->
      <section id="contact" class="contact">
        <h3 class="contact__heading">What's Next?</h3>
        <h4 class="contact__title">Say Hello</h4>
        <div class="">
          <p>
            Whether it's just to talk about a project or just to say hi, my inbox is always open and I'll try my best to get back to you.
          </p>
        </div>
        <a class="btn animLine" href="mailto:taliaadev@gmail.com">Get in touch</a>
      </section>
    </div>
</div>
    <footer class="footer__footerContainer">
      <div class="footer__footerCopy">
        <a href="https://github.com/taliaa10/Portfolio-Site" target="_blank"
          >Designed and Built by Taliaa Tauatolo.</a
        >
      </div>
    </footer>
  </div>
    <script>
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>


  </body>
</html>

